.train-overlay-container {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .train-overlay {
    margin-top: 25px;
    top: 20%;
    left: 20%;
    background: rgb(255, 255, 255); /* Semi-transparent overlay background */
    width:1000px;
    height:600px;
    display: flex;
    align-items: center;

  }
  .train-form{
    display: flex;
    flex-direction: column;
    margin: 10px;

    padding-left: 130px;
    padding-right:130px;
    padding-top: 70px;
    padding-bottom: 50px;
    input,
    select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    }
    button {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #0056b3;
      }

  }
  .train-advertisement{
    background: url("C:\Users\offch\mern\metro-booking-system\client\src\components\photos\advertlogin.png");
    width:800px;
    height:600px;
    background-size:contain;
    background-position: center;
  }
  
  