body {
  background: "" center / cover no-repeat;
    height: 100vh;
    margin: 0;

  }
  /*navigation css*/
  .logo1 {
    margin-right: 50px;
  }
  .nav1-layout {
   background: white;
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   margin-left: 30px;
   margin-right: 30px;
  }
  .nav2 {
    display: flex;
    justify-content: space-evenly;
  }
  .icon {
    display: flex;
    margin-left: 35px;
    margin-top: 10px;
 
  }
  .icon svg {
    width: 24px; /* Set the width of the icon */
    height: 24px; /* Set the height of the icon */
  }

  .explore-bar {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    border: black;
    background-color: rgba(253, 253, 253, 0.982);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    align-items: center;
    padding: 0 10px;

    li {
      border: 1px solid #ffffff; /* 1px solid black border */
      padding: 16px; /* Optional: Add some padding inside the box */
      margin: 25px;
      margin-top: 0; 
      font-size: 10px;
      list-style: none;
      background-color: rgb(255, 255, 255);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.118); /* Add a box shadow */
      color: rgb(42, 4, 100);
      font-family: sans-serif;
      font-weight: bold;
      height: 70px;
      width: 90px;
      border-radius: 5px;
      line-height: 60px;
      text-align: center;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left:0;
        height:100%;
        width: 100%;
        z-index:-1;
        transition: .2s;
        border-radius: 10px;
      }
        &:hover {
         
             background-color: rgb(5, 5, 104);
             color: #ffffff;

    }
  }
  }
  .menu-bar {
    border-radius: 15px;
    height: fit-content;
    display: inline-flex;
    border: black;
    background-color: rgba(33, 4, 92, 0.982);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    align-items: center;
    padding: 0 10px;
    li {
      border-color: rgb(255, 255, 255);
      list-style: none;
      color: rgb(255, 255, 255);
      font-family: sans-serif;
      font-weight: bold;
      padding: 12px 16px;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left:0;
        height:100%;
        width: 100%;
        z-index:-1;
        transition: .2s;
        border-radius: 25px;
      }
        &:hover {
          &::before {
            background: linear-gradient(to bottom, #e1e1eee0, #e1e1eee0);
              box-shadow: 0px 3px 20px 0px black;
              transform: scale(1.2);
          }
          color: black;
      }
    }
  }
  /*search*/
  .Search-main{
    background: url("C:\Users\offch\mern\metro-booking-system\client\src\components\photos\home.jpg");
    width: 100%;
    height: 650px;
    background-size:cover;
    background-position: center;
 
  }
